@model WebStore.Models.Product

@{
    ViewBag.Title = "Details";
}


<div class="row">

    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
    </div>

    <div class="col-md-9">

        <div class="thumbnail">
            <img class="img-responsive"src="/Images/@Html.DisplayFor(model => model.Image)" alt="@Html.DisplayFor(model => model.Image)" />
            <div class="caption-full">
                <h4 class="pull-right">@Html.DisplayFor(model => model.Price)€</h4>
                <h4>
                    <a href="@Html.DisplayFor(model => model.ProductId)">@Html.DisplayFor(model => model.Name)</a>
                </h4>
                <p>@Html.DisplayFor(model => model.Description)</p>

            </div>

        </div>



    </div>

</div>
@if (ViewContext.HttpContext.User.IsInRole("canEdit"))
{ 
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId });
    @Html.Raw("|");
    @Html.ActionLink("Delete", "Delete", new { id = Model.ProductId });
    @Html.Raw("|");

}

@Html.ActionLink("Back to Browse", "Index")