@model IEnumerable<WebStore.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Categories</h2>
        <ul>
         <li>Am</li>
          <li>bam</li>
            <li>
                pet
            </li>
            <li>podgan</li>
        </ul>
    </div>
        <div class="col-md-8">
            <div class="form-group"></div>
            @using (Html.BeginForm())
            {
                <p>
                    @Html.TextBox("searchString")
                    <input type="submit" class="btn" value="Search" />
                </p>
            }
            </div>
        <h2>Products</h2>
            <table>
            @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
        </td>
    </tr>
}
                </table>
        </div>

</div>